<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fi.re.firebackend.dao.finance.savings.DepositV1Dao">

<!--    금융상품코드로 가져오기-->
    <select id="getDepositByCode" resultType="fi.re.firebackend.dto.finance.savings.SavingsDepositDto">
        SELECT finPrdtCd, bankName AS korCoNm, finPrdtNm, joinWay, spclCnd, joinMember, etcNote, maxLimit, intrRateTypeNm, saveTrm, minRate AS intrRate, maxRate AS intrRate2 FROM depositV1 WHERE finPrdtCd = #{finPrdtCd}
    </select>

<!--    Hot3 예금 가져오기-->
    <select id="getHotDeposit" resultType="fi.re.firebackend.dto.finance.savings.SavingsDepositDto">
        SELECT finPrdtCd, bankName AS korCoNm, finPrdtNm, joinWay, spclCnd, joinMember, etcNote, maxLimit, intrRateTypeNm, saveTrm, minRate AS intrRate, maxRate AS intrRate2 FROM depositV1 ORDER BY selectCount DESC LIMIT 3
    </select>

<!--    모든 예금상품 가져오기-->
    <select id="getAllDeposit" resultType="fi.re.firebackend.dto.finance.savings.SavingsDepositDto">
        SELECT finPrdtCd, bankName AS korCoNm, finPrdtNm, joinWay, spclCnd, joinMember, etcNote, maxLimit, intrRateTypeNm, saveTrm, minRate AS intrRate, maxRate AS intrRate2 FROM depositV1
    </select>

<!--    페이지네이션-->
    <!--    페이지네이션-->
    <select id="selectDeposit" resultType="fi.re.firebackend.dto.finance.savings.SavingsDepositDto">
        SELECT *
        FROM depositV1
        ORDER BY finprdtCd
            LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="countDeposit" resultType="int">
        SELECT COUNT(*)
        FROM depositV1
    </select>


    <!-- 비교함 추가 및 삭제 -->
    <update id="updateDepositCartStatus">
        UPDATE depoistV1 SET InCart = #{InCart} WHERE finPrdtCd = #{finPrdtCd}
    </update>

    <!-- 비교함 목록 조회 -->
    <select id="getDepositsInCart" resultType="fi.re.firebackend.dto.finance.savings.SavingsDepositDto">
        SELECT finPrdtCd, bankName AS korCoNm, finPrdtNm, joinWay, spclCnd, joinMember, etcNote, maxLimit, intrRateTypeNm, saveTrm, minRate AS intrRate, maxRate AS intrRate2 FROM depositV1 WHERE InCart = 1
    </select>

    <!-- 현재 비교함 상태를 가져오는 쿼리 -->
    <select id="getDepositCartStatus" resultType="int">
        SELECT InCart FROM depositV1 WHERE finPrdtCd = #{finPrdtCd}

    </select>


    <insert id="insertOrUpdateDeposit" parameterType="fi.re.firebackend.dto.finance.savings.SavingsDepositDto">
        INSERT INTO depositV1 (finPrdtCd, bankName, finPrdtNm, joinWay, spclCnd, joinMember, etcNote, maxLimit, intrRateTypeNm, saveTrm, minRate, maxRate)
        VALUES (#{finPrdtCd}, #{korCoNm}, #{finPrdtNm}, #{joinWay}, #{spclCnd}, #{joinMember}, #{etcNote}, #{maxLimit}, #{intrRateTypeNm}, #{saveTrm}, #{intrRate}, #{intrRate2})
    </insert>

</mapper>
