<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fi.re.firebackend.dao.finance.savings.SavingsDao">
    <select id="getSavingsById"
            parameterType="int"
            resultType="fi.re.firebackend.dto.finance.savings.SavingsDto">
        SELECT prdNo, pname, type, bname, minRate, maxRate, subPeriod, subAmount, target, benefit, description, selectCount, keyword
        FROM savings
        where prdNo = #{prdNo}
    </select>

    <select id="hot"
            resultType="fi.re.firebackend.dto.finance.savings.SavingsDto">
        SELECT prdNo, pname, type, bname, minRate, maxRate, subPeriod, subAmount, target, benefit, description, selectCount, keyword
        FROM savings
        order by selectCount desc
        limit 3
    </select>

    <select id="all"
            resultType="fi.re.firebackend.dto.finance.savings.SavingsDto">
        SELECT prdNo, pname, type, bname, minRate, maxRate, subPeriod, subAmount, target, benefit, description, selectCount, keyword
        FROM savings
    </select>
</mapper>