<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fi.re.firebackend.dao.finance.fund.FundDao">
    <select id="getFundById"
            parameterType="int"
            resultType="fi.re.firebackend.dto.finance.fund.FundDto">
        select *
        from fund
        where prdNo = #{prdNo}
    </select>

    <update id="plusSelectCount"
            parameterType="int">
        update fund
        set selectCount = selectCount+1
        where prdNo = #{prdNo}
    </update>

    <select id="hot"
            resultType="fi.re.firebackend.dto.finance.fund.FundDto">
        select *
        from fund
        order by selectCount desc
        limit 3
    </select>

    <select id="all"
            resultType="fi.re.firebackend.dto.finance.fund.FundDto">
        select *
        from fund
    </select>


    <!-- 페이지 네이션 -->
    <select id="selectFunds" resultType="fi.re.firebackend.dto.finance.fund.FundDto">
        SELECT *
        FROM fund
        ORDER BY rate desc
        LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="countFunds" resultType="int">
        SELECT COUNT(*)
        FROM fund
    </select>
</mapper>