<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fi.re.firebackend.dao.finance.fund.FundDao">

    <!-- 특정 상품 번호에 대한 펀드 조회 -->
    <select id="getFundById" parameterType="int" resultType="fi.re.firebackend.dto.finance.fund.FundDto">
        SELECT
            prdNo,
            pname,
            type,
            rate,
            dngrGrade,
            region,
            bseDt,
            selectCount,
            nav,
            6MRate,
            1YRate
        FROM fund
        WHERE prdNo = #{prdNo}
    </select>

    <!-- 인기 펀드 조회 (상위 3개) -->
    <select id="hot" resultType="fi.re.firebackend.dto.finance.fund.FundDto">
        SELECT
            prdNo,
            pname,
            type,
            rate,
            dngrGrade,
            region,
            bseDt,
            selectCount,
            nav,
            6MRate,
            1YRate
        FROM fund
        ORDER BY selectCount DESC
            LIMIT 3
    </select>

    <!-- 모든 펀드 조회 -->
    <select id="all" resultType="fi.re.firebackend.dto.finance.fund.FundDto">
        SELECT
            prdNo,
            pname,
            type,
            rate,
            dngrGrade,
            region,
            bseDt,
            selectCount,
            nav,
            6MRate,
            1YRate
        FROM fund
    </select>

    <!-- 페이지 네이션을 위한 펀드 조회 -->
    <select id="selectFunds" parameterType="map" resultType="fi.re.firebackend.dto.finance.fund.FundDto">
        SELECT
            prdNo,
            pname,
            type,
            rate,
            dngrGrade,
            region,
            bseDt,
            selectCount,
            nav,
            6MRate,
            1YRate
        FROM fund
        ORDER BY prdNo
            LIMIT #{size} OFFSET #{offset}
    </select>

    <!-- 펀드 수 카운트 -->
    <select id="countFunds" resultType="int">
        SELECT COUNT(*) FROM fund
    </select>

    <!-- 비교함 추가/삭제 -->
    <update id="updateFundCartStatus">
        UPDATE fund SET InCart = #{InCart} WHERE prdNo = #{prdNo}
    </update>

    <!-- 비교함 목록 조회 -->
    <select id="selectFundsInCart" resultType="fi.re.firebackend.dto.finance.fund.FundDto">
        SELECT
            prdNo,
            pname,
            type,
            rate,
            dngrGrade,
            region,
            bseDt,
            selectCount,
            nav,
            6MRate,
            1YRate
        FROM fund
        WHERE InCart = 1
    </select>

    <!-- 현재 비교함 상태를 가져오는 쿼리 -->
    <select id="getFundCartStatus" parameterType="int" resultType="int">
        SELECT InCart FROM fund WHERE prdNo = #{prdNo}
    </select>

</mapper>
