<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fi.re.firebackend.dao.quiz.QuizDao">
    <select id="getQuizById"
            parameterType="int"
            resultType="fi.re.firebackend.dto.quiz.QuizDto">
        SELECT id, question, q1, q2, q3, q4, answer
        FROM quiz
        WHERE id = #{id}
    </select>
</mapper>